// background color
$primary-background-color-red: #EF0032;

// text color
$primary-text-color: #FFFFFF;

// font-size
$font-size-header-title: 18px;
$font-size-default: 16px;

// header
$height-header: 52px;
$height-logo: 28px;

// left sidebar
$width-sidebar: 250px;


